<div class="container-fluid d-flex flex-wrap p-0 m-0 w-100 h-100 justify-content-center">
  <div class="container smart-container m-3 p-3 bg-dark text-white rounded-3">
    <p id="notice"><%= notice %></p>
    <h1 class="display-1"><%= @project.name %></h1>

    <p class="display-5">Status: <%= @project.status %></p>
    <strong>Admin</strong>
    <ul>  
      <% @project.roles.each do |r| %>
        <% if r.role == "admin" %>
          <li><%= r.user.name %> (<%= r.user.email%>)</li>
        <% end %>
      <% end %>
    </ul>
    
    <% if @project.roles.find_by(user_id: current_user.id).role == "admin" %>
      <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-danger" %>
    <% end %>
  </div>
  <div class="container smart-container m-3 p-3 bg-secondary rounded-3">

  </div>
  <div class="container smart-wide m-3 p-3 bg-secondary rounded-3">
    <h3 class="display-3">Tickets</h3>
    <div class="container d-flex flex-wrap">
      <% @project.tickets.each.with_index do |t, index| %>
        <div class="row line container w-100 mb-1 py-2 <%= index % 2 == 0 ? "bg-light" : ""%>">
          <div class="col-sm-4">
            <p><%= t.description %></p>
          </div>
          <div class="col-sm-2">
            <p>Status: <%= t.status %></p>
          </div>
          <div class="col-sm-2">
            <p>Priority: <%= t.priority %></p>
          </div>
          <div class="col-sm-2">
            <p>Created by: <%= t.user.name %></p>
          </div>
          <div class="col-sm-2 p-0">
            <%= link_to "View Ticket", t, class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
